.question img{
    width: 100%;
}

@media (min-width: 768px){
    .answers{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .answers .answer{
        flex-basis: 48%;
    }
}