.question img{
    width: 100%;
}

@media (min-width: 768px){
    .question{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .question .imgContainer{
        flex-basis: 55%;
    }

    .question .answerContainer{
        flex-basis: 40%;
    }
}